<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.fcc.stock.record.mapper.CompanyRecordMapper">
    <insert id="insertCompanyRecord" parameterType="xyz.fcc.stock.record.entity.CompanyRecord">
        INSERT INTO t_company_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="currentDay != null">current_day,</if>
            <if test="company != null and company != ''">company,</if>
            <if test="content != null">content,</if>
            <if test="info != null">info,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="currentDay != null">#{currentDay},</if>
            <if test="company != null and company != ''">#{company},</if>
            <if test="content != null">#{content},</if>
            <if test="info != null">#{info},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        content = VALUES(content),
        info = VALUES(info),
        update_time = CURRENT_TIMESTAMP
    </insert>

    <select id="countCompanyRecordsByCondition" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM t_company_record
        <where>
            1=1
            <if test="company != null and company != ''">
                AND company = #{company}
            </if>
            <if test="startDate != null and endDate != null">
                AND current_day BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND current_day <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND current_day <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
    </select>

    <select id="selectCompanyRecordByConditionWithPaging" resultType="xyz.fcc.stock.record.entity.CompanyRecord">
        SELECT
        id,
        current_day AS currentDay,
        company,
        content,
        create_time AS createTime,
        update_time AS updateTime,
        info
        FROM t_company_record
        <where>
            1=1
            <if test="company != null and company != ''">
                AND company = #{company}
            </if>
            <if test="startDate != null and endDate != null">
                AND current_day BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND current_day <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND current_day <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
        ORDER BY current_day DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>