<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.fcc.stock.record.mapper.ProductRecordMapper">
    <insert id="insertProductRecord" parameterType="xyz.fcc.stock.record.entity.ProductRecord">
        INSERT INTO t_product_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.getCurrentDay() != null">current_day,</if>
            <if test="record.getProduct() != null and record.getProduct() != ''">product,</if>
            <if test="record.getContent() != null">content,</if>
            <if test="record.getInfo() != null">info,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="record.getCurrentDay() != null">#{record.currentDay},</if>
            <if test="record.getProduct() != null and record.getProduct() != ''">#{record.product},</if>
            <if test="record.getContent() != null">#{record.content},</if>
            <if test="record.getInfo() != null">#{record.info},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        content = VALUES(content),
        info = VALUES(info),
        update_time = CURRENT_TIMESTAMP
    </insert>

    <select id="countProductRecordsByCondition" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM t_product_record
        <where>
            1=1
            <if test="product != null and product != ''">
                AND product = #{product}
            </if>
            <if test="startDate != null and endDate != null">
                AND current_day BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND current_day <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND current_day <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
    </select>

    <select id="selectProductRecordByConditionWithPaging" resultType="xyz.fcc.stock.record.entity.ProductRecord">
        SELECT
        id,
        current_day AS currentDay,
        product,
        content,
        create_time AS createTime,
        update_time AS updateTime,
        info
        FROM t_product_record
        <where>
            1=1
            <if test="product != null and product != ''">
                AND product = #{product}
            </if>
            <if test="startDate != null and endDate != null">
                AND current_day BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="startDate != null and endDate == null">
                AND current_day <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="startDate == null and endDate != null">
                AND current_day <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="content != null and content != ''">
                AND content LIKE CONCAT('%', #{content}, '%')
            </if>
        </where>
        ORDER BY current_day DESC
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
